<div class="card">
  <h5>Capacity management</h5>
  <p>Group ressources by their information.</p>
  <p-table [value]="ressources" sortField="informationSurRessource.name" sortMode="single" [scrollable]="true" scrollHeight="800px" rowGroupMode="subheader" groupRowsBy="informationSurRessource.name" [tableStyle]="{'min-width': '60rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th>Ressource</th>
             <!--<th>Projet</th>
              <th>Equipes</th>
              <th>Itération</th>
              <th>Capacités</th>
              <th>Niveau d'occupation</th>--> 
          </tr>
      </ng-template>
      <ng-template pTemplate="groupheader" let-ressource>
          <tr pRowGroupHeader>
              <td colspan="6">
                 
                  <div class="grid">
                    <div class="col-2">  
                      <img [alt]="ressource.informationSurRessource.name" src="https://dev.azure.com/ibrahimsylla/_apis/GraphProfile/MemberAvatars/aad.YTgwZmM5OTctNDkwMy03N2UxLTliNTktZTBkZmQxYmM4ZmE0" width="32" style="vertical-align: middle" />
                      <span class="font-bold ml-2">{{ressource.informationSurRessource.name}}</span>
                    </div>
                    <div class="col-2">
                      <p-progressBar class="font-bold ml-2" [value]="ressource.pourcentageDeCharge" [showValue]="false"></p-progressBar>
                  
                    </div>

                    <div class="field col-2">
                        <label for="range">Range</label>
                        <p-calendar selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
                    </div>
        
                </div>
              </td>
            
          </tr>
      </ng-template>
      <ng-template pTemplate="groupfooter" let-ressource>
          <tr>
              <td colspan="5" class="text-right font-bold pr-6">Total ressources: {{calculateressourceTotal(ressource.informationSurRessource.name)}}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ressource let-rowIndex="rowIndex">
         











        <p-table [value]="ressource.projects" dataKey="name" [tableStyle]="{'min-width': '60rem'}">
          <ng-template pTemplate="header">
              <tr>
                  <th style="width: 5rem"></th>
                  <th pSortableColumn="name">Projet <p-sortIcon field="name"></p-sortIcon></th>
                  <th>Description</th>
                 <!--<th></th>--> 
                  <th pSortableColumn="category">Capacitée <p-sortIcon field="category"></p-sortIcon></th>
                  <th pSortableColumn="rating">Niveau de charge <p-sortIcon field="rating"></p-sortIcon></th>
                  <th pSortableColumn="inventoryStatus">Statut <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-project let-expanded="expanded">
              <tr>
                  <td>
                      <button type="button" pButton pRipple [pRowToggler]="project" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                  </td>
                  <td>{{project.name}}</td>
                  <td>{{project.description}}</td>

                 <!-- <td>{{project.price | currency:'USD'}}</td>-->
                  <td> <button pButton pRipple type="button"  class="p-button-outlined p-button-rounded p-button-warning">{{project.capacity}}</button>  </td>
                  <td>
                    <p-knob [(ngModel)]="project.niveauDeCharge" [disabled]="true"></p-knob>
                    <!--<p-rating [ngModel]="project.niveauDeCharge" [readonly]="true" [cancel]="false"> </p-rating>-->
                  </td>
                  <td><span>{{project.statut}}</span></td>
              </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-project>
              <tr>
                  <td colspan="7">
                      <div class="p-3">
                          <p-table [value]="project.equipes" dataKey="equipe">
                              <ng-template pTemplate="header">
                                  <tr>
                                      <th pSortableColumn="equipe">Equipe <p-sortIcon field="equipe"></p-sortIcon></th>
                                      <th pSortableColumn="iteration">Jalon(Itération) <p-sortIcon field="iteration"></p-sortIcon></th>
                                      <th pSortableColumn="delais">Délais(debut - Fin) <p-sortIcon field="delais"></p-sortIcon></th>
                                      <th pSortableColumn="capacity">Capacitée <p-sortIcon field="capacity"></p-sortIcon></th>
                                      <th pSortableColumn="niveauOccupation">Occupation <p-sortIcon field="niveauOccupation"></p-sortIcon></th>
                                      <th style="width: 4rem"></th>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-equipe>
                                  <tr>
                                      <td>{{equipe.equipe}}</td>
                                      <td>{{equipe.iteration}}</td>
                                      <td>{{equipe.delais}}</td>
                                      <td>{{equipe.capacity }}</td>
                                      <td>{{equipe.niveauOccupation }}</td>
                                      <!--<td><span [class]="'equipe-badge equipe-' + equipe.status.toLowerCase()">{{equipe.status}}</span></td>-->
                                      <td><p-button type="button" icon="pi pi-search"></p-button></td>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="emptymessage">
                                  <tr>
                                      <td colspan="6">There are no equipe for this project yet.</td>
                                  </tr>
                              </ng-template>
                          </p-table>
                      </div>
                  </td>
              </tr>
          </ng-template>
        </p-table>

      </ng-template>
  </p-table>
</div>


